#mainNav {
  background-color: white !important;
  img {
    height: 50px;
  }
}
@media screen and (min-width: 992px) {
  #mainNav {
    background-color: transparent !important;
    img {
      height: 50px;
    }
  }
  #mainNav.nav_scrolled {
    background-color: white !important;
  }
}
